@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:ital,wght@0,200;1,300&display=swap');
*{
padding: 0px;
margin: 0px;
border: none;
box-sizing: border-box;
text-decoration: none;
list-style: none;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
img {
    max-width: 100%;
 } 
body{
    font-family: 'Raleway', sans-serif;
    color: #252525;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.container_wrap.white {
    background-color:  #fff;
}

.container_wrap{
    padding: 30px 150px; 
    display: flex;
}
.container_wrap.white .container {
    display: none;
}

.container_wrap.white .burger_menu {
    display: block;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
} 


 .burger_menu{
    display: none;
    width: 100%;
} 

.burger_list {
    display: flex;
    column-gap: 25px;
}

.burger_menu a {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #252525;
    text-transform: uppercase;
}
.burger {
    cursor: pointer;
    width: 34px;
    height: 24px;
    position: relative;
}
.burger_line {
    display: block;
    width: 100%;
    background-color: #CCA88A;
    height: 4px;
    position: absolute;
    left: 0;
    transition: .3s all linear;
}

.burger_line_first {
    top: 0;  
}

.burger_line_second,.burger_line_third {
    width: 24px;
    top: 50%;
    transform: translateY(-50%);
}
.burger_line_fourth{
    width: 18px;
    bottom: 0;
}

.burger_active .burger_line_first, .burger_active .burger_line_fourth{
    opacity: 0 ;
}

.burger_active .burger_line_second{
    transform: translateY(-50%) rotate(45deg);
}
.burger_active .burger_line_third {
    transform: translateY(-50%) rotate(-45deg);
}

.header_menu {
    margin-right: 120px;
}

.nav_list {
    display: flex;
    column-gap: 25px;
  
    cursor: pointer;
    text-align: center;
}

.nav_link {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #252525;
   
}

.nav_link:hover{
    content: '';
    border: 0.3px solid #E0BEA2;
    background-color: #E0BEA2;
    color: #fff;
}

.language{
    display: flex;
}

.dropbtn {
    font-size: 18px;
    background: transparent;
}    
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;

    width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #CCA88A;
}

.dropdown.lang_active .dropdown-content{
    display: block;
}
.dropdown.lang_active img {
   transform: rotate(180deg);
}

.header_nav_mobile {
    display: none;
}
.header_list {
    display: flex;
    column-gap: 35px;
    cursor: pointer;
    text-align: center;
}

/* ======================== */
.wrapper {
    padding: 0px  150px;
}


.crumbs {
    margin-bottom: 30px; 
}

.crumbs > a {
    text-transform: capitalize;
    margin-right: 11px;
}

.crumbs img {
    margin-right: 11px; 
}

.crumbs a.active{
    border: 0.3px solid #E0BEA2;
    background-color: #E0BEA2;
    color: #fff;
}

/* ============= */
.title {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
}

.sub_title {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.title_exchange {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}
.main_container {
    display: flex;
    width: 100%;
    column-gap: 30px;
}

.container_card {
    text-align: center;
    width: 16.66%;
}
.container_card  .text {
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}
/* ============== */
.footer_mobile {
    display: none;
}
.footer_container {
    display: flex;
    padding: 0 0 74px;
    column-gap: 47px;
    justify-content: center;
    margin-top: 270px;
}

.footer_block {
    width: 250px;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.footer_subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer_list {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    row-gap: 10px;
}
.footer_link {
    color: #252525;
    font-weight: 200;
    line-height: 19px;
}

.socials {
    display: flex;
    column-gap: 14px;
}

@media(max-width: 375px){
    .container_wrap {
        padding: 26px 20px 15px 20px;
    }
    .header_menu {
        display: none;
    }
    .header_nav {
        display: none;
    }
    .header_nav_mobile {
        display: flex;
        order: 3;
    }
    .header_logo {
        width: 97.4px;
        order: 1;
    }
    .language {
        display: flex;
        order:  0;
    }
    .header_list {
        gap: 20px;
    }
    .burger_menu a {
        font-size: 14px;
        line-height: 20px;
    }
    .wrapper {
        padding: 0 20px;
    }
    .crumbs {
        margin-bottom: 15px;
    }
    .title_descrip {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 15px;
    }
    .title {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
    }
    .sub_title {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px
    }
    .title_exchange {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px
    }
    .main_container {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }
    .container_card {
        width: 100%;
    }
    .container_card .text {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }
    footer {
        display: none;
    }
    .footer_mobile{
        display: block;
    }
    .footer_container{
        flex-direction: column;
        margin-top: 60px;
        align-items: center;
        padding: 0 20px;
    }
    .footer_subtitle {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 5px;
    }

    .container_mobile{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
   .footer_mob_title {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #252525;
        text-transform: uppercase;
        margin-right: 5px;
    }
    .column-block {
        display: flex;
        justify-content: center;
    }
    .line_bottom {
        margin-top: 5px;
        border-bottom: 0.3px solid #252525;
        width: 100%;
    }
    .contacts_mobile{
        display: flex;
        flex-direction: column;
    }
    .socials{
        justify-content: center;
        margin-top: 12px;
    }
    .phone{
        font-weight: 200;
        font-size: 14px;
        line-height: 16px;
        text-align: center
    }
    .mail{
        font-weight: 200;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
}